:root {
  --color-black: #101828;
  --color-white: #ffffff;
  --color-default-border: #dadde1;
  --color-secondary-border: #f2f4f7;
  --color-primary-button: #e44848;
  --color-primary-button-hover: #d84343;
  --color-primary-text: #475467;
  --color-secondary-text: #6c717b;
  --color-secondary-background: #f7f7f7;

  --transition-time: 200ms;
  --transition-form: ease-in-out;
  --transition: all var(--transition-time) var(--transition-form);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-primary-text);
}

* {
  box-sizing: border-box;
}

#root {
  min-width: 320px;
  max-width: 100%;
  width: 100dvw;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
