.container {
  padding: 48px 64px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 64px;
}

.listWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
